main
    min-width: $desktop-width
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 3em
    header
        width: 50%
        padding: 1em 1.2em
        border: 3px solid $neutral-header-outline
        border-radius: 10px
        display: flex
        justify-content: space-between
    div
        color: $primary-white
        font-size: 1.6rem
        font-weight: 600
